.hero{
  position:relative;
  width:100%;
  height:100vh;
  overflow:hidden;
}

/* 背景SVG */
.hero-bg{
  position:absolute;
  inset:0;                /* top:0;left:0;right:0;bottom:0 */

  background-image:url("asset/girl.svg");
  background-repeat:no-repeat;
  background-position:left center;
  background-size:cover;  /* ←ここが重要 */

  opacity:0.15;
  pointer-events:none;
}
