.hero{
  position:relative;
  width:100%;
  height:100vh;
  overflow:hidden;
}

/* 背景SVG */
.hero-bg{
  position:absolute;
  inset:0;
  background:
    linear-gradient(to right,
      rgba(30,70,130,0.6) 0%,
      rgba(30,70,130,0.3) 40%,
      rgba(30,70,130,0.0) 70%
    ),
    url("asset/girl.svg") no-repeat left center;

  background-size:cover;
  opacity:0.25;
}
